<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="page-categories">
                    <h3 class="title text-center">Add Product</h3>
                    <br />
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                                <i class="far fa-clock"></i> Watches
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
                                <i class="fas fa-shoe-prints"></i> Footwear
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                              <i class="fas fa-tshirt"></i>Clothes
                            </a>
                        </li>
                        
                    </ul>
                    <div class="tab-content tab-space tab-subcategories">
                        <div class="tab-pane" id="link7">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Wathces </h4>
                                    <p class="card-category">
                                        Keep Complete This Form
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="far fa-clock" style="font-size:34px"></i>
                                                </div>
                                                <h4 class="card-title">ADD PRODUCTS</h4>
                                            </div>
                                            <div class="card-body ">
                                                <form method="#" action="#">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Name</label>
                                                        <input type="text" class="form-control" required>
                                                         </div>
                                                         <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Type</label>
                                                        <input type="text" class="form-control" value="watch" disabled>
                                                         </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Brand Name</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Watch Brand Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Prize</label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Enter Product Prize" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Department</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="Women">Women's</option>
                                                                    <option value="Men">Men's</option>
                                                                    <option value="Kid">Kid's</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {{!-- next row --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Category</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="example Digital" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Color</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter Product Color" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Select Size</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" disabled required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="S">Small</option>
                                                                    <option value="M">Medium</option>
                                                                    <option value="L">Large</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- next --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Quantity</label>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control"
                                                                    placeholder="Product Quantity" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Discount </label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Discount in Percentage" required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4 class="title">Tags</h4>
                                                            <input type="text" value="men's,"
                                                                class="form-control tagsinput" data-role="tagsinput"
                                                                data-color="info">
                                                        </div>
                                                            <div class="col-md-4">
                                                            <label class="bmd-label-floating">Selecte Mood</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" disabled>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="indoor">Indoor </option>
                                                                    <option value="outdoor">Outdoor</option>
                                                                     
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                         <div class="col-md-2 col-sm-2">
                                                            <h4 class="title"> Image 1</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 2</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 3</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                              <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 4</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 5</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>

                                            </form>
                                        </div>
                                        <div class="card-footer ">
                                            <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           <div class="tab-pane active" id="link8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Footwear </h4>
                                    <p class="card-category">
                                        Keep Complete This Form
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="far fa-clock" style="font-size:34px"></i>
                                                </div>
                                                <h4 class="card-title">ADD PRODUCTS</h4>
                                            </div>
                                            <div class="card-body ">
                                                <form method="#" action="#">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Name</label>
                                                        <input type="text" class="form-control" required>
                                                         </div>
                                                         <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Type</label>
                                                        <input type="text" class="form-control" >
                                                         </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Brand Name</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Watch Brand Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Prize</label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Enter Product Prize" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Department</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="Women">Women's</option>
                                                                    <option value="Men">Men's</option>
                                                                    <option value="Kid">Kid's</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {{!-- next row --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Category</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="example Digital" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Color</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter Product Color" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Select Size</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- next --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Quantity</label>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control"
                                                                    placeholder="Product Quantity" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Discount </label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Discount in Percentage" required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4 class="title">Tags</h4>
                                                            <input type="text" value="men's,"
                                                                class="form-control tagsinput" data-role="tagsinput"
                                                                data-color="info">
                                                        </div>
                                                            <div class="col-md-4">
                                                            <label class="bmd-label-floating">Selecte Mood</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" >
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="indoor">Indoor </option>
                                                                    <option value="outdoor">Outdoor</option>
                                                                     
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                         <div class="col-md-2 col-sm-2">
                                                            <h4 class="title"> Image 1</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 2</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 3</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                              <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 4</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 5</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                                 <div class="card-footer ">
                                            <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                        </div>
                                            </form>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                           <div class="tab-pane active" id="link9">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Footwear </h4>
                                    <p class="card-category">
                                        Keep Complete This Form
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="far fa-clock" style="font-size:34px"></i>
                                                </div>
                                                <h4 class="card-title">ADD PRODUCTS</h4>
                                            </div>
                                            <div class="card-body ">
                                                <form method="#" action="#">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Name</label>
                                                        <input type="text" class="form-control" required>
                                                         </div>
                                                         <div class="form-group col-md-6">
                                                        <label class="bmd-label-floating">Product Type</label>
                                                        <input type="text" class="form-control" >
                                                         </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Brand Name</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Watch Brand Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Prize</label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Enter Product Prize" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Department</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="Women">Women's</option>
                                                                    <option value="Men">Men's</option>
                                                                    <option value="Kid">Kid's</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {{!-- next row --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Category</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="example Digital" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Color</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter Product Color" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Select Size</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" required>
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="S">S</option>
                                                                    <option value="M">M</option>
                                                                    <option value="L">L</option>
                                                                     
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- next --}}
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Quantity</label>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control"
                                                                    placeholder="Product Quantity" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label class="bmd-label-floating">Discount </label>
                                                            <div class="form-group">
                                                                <input type="number" step="0.01" class="form-control"
                                                                    placeholder="Discount in Percentage" required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4 class="title">Tags</h4>
                                                            <input type="text" value="men's,"
                                                                class="form-control tagsinput" data-role="tagsinput"
                                                                data-color="info">
                                                        </div>
                                                            <div class="col-md-4">
                                                            <label class="bmd-label-floating">Selecte Mood</label>
                                                            <div class="form-group">
                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" >
                                                                    <option disabled selected>Single Option</option>
                                                                    <option value="indoor">Indoor </option>
                                                                    <option value="outdoor">Outdoor</option>
                                                                     
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                         <div class="col-md-2 col-sm-2">
                                                            <h4 class="title"> Image 1</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 2</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 3</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                              <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 4</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                           <div class="col-md-2 col-sm-2">
                                                            <h4 class="title">Image 5</h4>
                                                            <div class="fileinput fileinput-new text-center"
                                                                data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="../../assets/img/image_placeholder.jpg"
                                                                        alt="...">
                                                                </div>
                                                                <div
                                                                    class="fileinput-preview fileinput-exists thumbnail">
                                                                </div>
                                                                <div>
                                                                    <span class="btn btn-rose btn-round btn-file">
                                                                        <span class="fileinput-new">Select image</span>
                                                                        <span class="fileinput-exists">Change</span>
                                                                        <input type="file" name="..." />
                                                                    </span>
                                                                    <a href="#pablo"
                                                                        class="btn btn-danger btn-round fileinput-exists"
                                                                        data-dismiss="fileinput"><i
                                                                            class="fa fa-times"></i> Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                                 <div class="card-footer ">
                                            <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                        </div>
                                            </form>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>