<!-- Button trigger modal -->

<style>
    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg {
        max-width: 1000px !important;
    }
</style>
<div class="container">
    <div class="row justify-content-between" style="width:90%">
        {{!-- item 1 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 1</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img src="../../assets/img/image_placeholder.jpg" id="chekPreview9" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image9" accept="image/gif, image/jpeg, image/png" required />
                        <textarea name="image9_b64" id="imageValue9" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 1 end--}}



      {{!-- item 2 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 2</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img src="../../assets/img/image_placeholder.jpg" id="chekPreview10" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image10" accept="image/gif, image/jpeg, image/png" required />
                        <textarea name="image10_b64" id="imageValue10" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 2 end--}}


    {{!-- item 3 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 3</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img src="../../assets/img/image_placeholder.jpg" id="chekPreview11" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image11" accept="image/gif, image/jpeg, image/png" required />
                        <textarea name="image11_b64" id="imageValue11" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 3 end--}}


     {{!-- item 4 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 4</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img src="../../assets/img/image_placeholder.jpg" id="chekPreview12" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image12" accept="image/gif, image/jpeg, image/png" required />
                        <textarea name="image12_b64" id="imageValue12" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 4 end--}}



    </div>
</div>

<!-- Modal 9-->
<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage9" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview9"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop9" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  9 end-->

 

<!-- Modal 10-->
<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage10" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop10" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  10 end-->


<!-- Modal 11-->
<div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage11" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview11"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop11" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  11 end-->

<!-- Modal 12 -->
<div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage12" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop12" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  12 end-->


<script>
    $('document').ready(function() {
//modal1 and image 1
    var image9 = document.getElementById('sampleImage9');
    var modal9 = $('#modal9');
    var cropper9;

    $('#image9').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image9.src = url;
            modal9.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal9.on('shown.bs.modal', function () {
        cropper9 = new Cropper(image9, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview9'
        });
    }).on('hidden.bs.modal', function () {
        cropper9.destroy();
        cropper9 = null;
    });

    $('#crop9').click(function () {
        canvas = cropper9.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal9.modal('hide');
                $("#imageValue9").val(base64data)
                $('#chekPreview9').attr('src', base64data);
            };
        });
    });
//modal1 and image 1 end

//modal2 and image 2
    var image10 = document.getElementById('sampleImage6');
    var modal10 = $('#modal10');
    var cropper10;

    $('#image10').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image10.src = url;
            modal10.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal10.on('shown.bs.modal', function () {
        cropper10 = new Cropper(image10, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview10'
        });
    }).on('hidden.bs.modal', function () {
        cropper10.destroy();
        cropper10 = null;
    });

    $('#crop10').click(function () {
        canvas = cropper10.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal10.modal('hide');
                $("#imageValue10").val(base64data)
                $('#chekPreview10').attr('src', base64data);
            };
        });
    });
//image 2 and modal 2 end


//modal3 and image 3 start
    var image11 = document.getElementById('sampleImage11');
    var modal11 = $('#modal11');
    var cropper11;

    $('#image11').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image11.src = url;
            modal11.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal11.on('shown.bs.modal', function () {
        cropper11 = new Cropper(image11, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview11'
        });
    }).on('hidden.bs.modal', function () {
        cropper11.destroy();
        cropper11 = null;
    });

    $('#crop11').click(function () {
        canvas = cropper11.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal11.modal('hide');
                $("#imageValue11").val(base64data)
                $('#chekPreview11').attr('src', base64data);
            };
        });
    });
//image 3 and modal 3 end

//modal4 and image 4 start
    var image12 = document.getElementById('sampleImage12');
    var modal12 = $('#modal12');
    var cropper12;

    $('#image12').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image12.src = url;
            modal12.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal12.on('shown.bs.modal', function () {
        cropper12 = new Cropper(image12, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview12'
        });
    }).on('hidden.bs.modal', function () {
        cropper12.destroy();
        cropper12 = null;
    });

    $('#crop12').click(function () {
        canvas = cropper12.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal12.modal('hide');
                $("#imageValue12").val(base64data)
                $('#chekPreview12').attr('src', base64data);
            };
        });
    });
//image 4 and modal 4 end

























    });

</script>