
    <div class="page-header  header-filter" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form id="admin-login" >
              <div class="card card-login card-hidden">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Login</h4>
               
                </div>
                <div class="card-body ">
                  <p class="card-description text-center">Admin Panel</p>
                 
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input type="email" class="form-control"   name="email" required placeholder="Email...">
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control" name="password" required  placeholder="Password...">
                    </div>
                  </span>
                </div>
                <div class=" text-center">
                    <p id="admin-login-alert" style="color:rgb(255, 0, 0);"></p>
               </div>
                <div class="card-footer justify-content-center">
                  <button  type="submit" class="btn btn-rose btn-link btn-lg">Lets Go</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
