<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
	<div class="box-inner">
		<span class="close-menu"><span class="icon pe-7s-close"></span></span>
	</div>
</div>
<div id="header-ontop" class="is-sticky"></div>
<header id="header" class="header style2 ">
	<div class="main-header">
		<div class="container">
			<div class="main-menu-wapper">
				<div class="row">
					<div class="col-sm-12 col-md-3 logo-wapper">
						<div class="logo">
							<a href="#"><img src="images/logo.svg" alt=""></a>
						</div>
					</div>
					<div class="col-sm-12 col-md-9 menu-wapper">
						<div class="box-control justify-content-center">
							<form class="box-search show-icon">
								<span class="icon"><span class="pe-7s-search"></span></span>
								<div class="inner">
									<input type="text" class="search" placeholder="Search here...">
									<button class="button-search" type="submit"><span
											class="pe-7s-search"></span></button>
								</div>
							</form>

							<div class="mini-cart">
								<a class="cart-link" href="#"><span class="pe-7s-cart"></span> <span
										class="count">3</span></a>
								<div class="show-shopping-cart">
									<h3 class="title">YOU HAVE <span class="text-primary">(3 ITEMS)</span> IN YOUR CART
									</h3>
									<ul class="list-product">
										<li>
											<div class="thumb">
												<img src="images/products/1.png" alt="">
											</div>
											<div class="info">
												<h4 class="product-name"><a href="#">LONDON STAR SWEATSHIRT</a></h4>
												<span class="price">1x£375.00</span>
												<a class="remove-item" href="#"><i class="fa fa-close"></i></a>
											</div>
										</li>
										<li>
											<div class="thumb">
												<img src="images/products/1.png" alt="">
											</div>
											<div class="info">
												<h4 class="product-name"><a href="#">LONDON STAR SWEATSHIRT</a></h4>
												<span class="price">1x£375.00</span>
												<a class="remove-item" href="#"><i class="fa fa-close"></i></a>
											</div>
										</li>
									</ul>
									<div class="sub-total">
										Subtotal:£255.00
									</div>
									<div class="group-button">
										<a href="#" class="button">Shopping Cart</a>
										<a href="#" class="check-out button">CheckOut</a>
									</div>
								</div>
							</div>
							<div class="box-settings">
								{{#if usernav}}
								<i class="far fa-user-circle" style="font-size: 24px; padding-left:10px"> <span style="font-family:  Roboto ; font-weight: bold; color:#c99947">{{usernav.name}}</span></i>
								{{else}}
								<i class="far fa-user-circle" style="font-size: 24px; padding-left:10px"> <span style="font-family:  Roboto ; font-weight: bold; color:#c99947"></span></i>
								{{/if}}
								<div class="settings-wrapper ">
									<div class="setting-content">
									  
										<div class="setting-option">
											<ul>
												<li><a href="#"><i
															class="icon-heart icons"></i><span>Wishlist</span></a></li>
												<li><a href="#"><i class="icon-user icons"></i><span>
															MyAccount</span></a></li>
												<li><a href="#"><i class="icon-note icons"></i><span>Checkout</span></a>
												</li>
												 {{#if usernav}}
												<li><a href="/logout"><i class="icon-lock-open icons"></i><span>Logout</span></a></li>
												 {{else}}
												 	<li><a href="/login"><i class="icon-lock-open icons"></i><span>Login/Register</span></a></li>
												{{/if}}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<ul class="boutique-nav main-menu clone-main-menu">

							<li class="menu-item-has-children item-megamenu">
								<a href="#">categories</a>
								<div style="width:820px; background-image:url('images/bg-megamenu.png'); "
									class="sub-menu megamenu megamenu-bg">
									<div class="row">
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Men's</h2>
												<ul>
													<li><a href="category-left-sidebar.html">Indoor Collections</a></li>
													<li><a href="category-right-sidebar.html">Outdoor Collections</a>
													</li>
													<li><a href="category-list.html">Footwear</a></li>
													<li><a href="category-2columns.html">Watches</a></li>

												</ul>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Women's</h2>
												<ul>
													<li><a href="category-left-sidebar.html">Indoor Collections</a></li>
													<li><a href="category-right-sidebar.html">Outdoor Collections</a>
													</li>
													<li><a href="category-list.html">Footwear</a></li>
													<li><a href="category-2columns.html">Watches</a></li>
												</ul>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Kid's</h2>
												<ul>
													<li><a href="category-left-sidebar.html">Indoor Collections</a></li>
													<li><a href="category-right-sidebar.html">Outdoor Collections</a>
													</li>
													<li><a href="category-list.html">Footwear</a></li>
													<li><a href="category-2columns.html">Watches</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="menu-item-has-children item-megamenu">
								<a href="#">categories</a>
								<div style="width: 400px;; background:#fff; "
									class="sub-menu megamenu megamenu-bg">
									<div class="row">

										<div class="mega-custom-menu">
											<h2 class="title">Brands</h2>
											<ul>
												<li><a href="category-left-sidebar.html">Indoor Collections</a></li>
												<li><a href="category-right-sidebar.html">Outdoor Collections</a></li>
												<li><a href="category-list.html">Footwear</a></li>
												<li><a href="category-2columns.html">Watches</a></li>

											</ul>
										</div>
										</div>
								</div>
							</li>

						</ul>
						<span class="mobile-navigation"><i class="fa fa-bars"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>