<!-- Main section-->

<style>
	.brandImagview {
		object-fit: cover;
		width: 100%;
		height: 60%;
	}
</style>
<div class="home-slide3 owl-carousel nav-style4 nav-center-center" data-items="1" data-nav="true" data-dots="false"
	data-loop="true" data-autoplay="true" style="padding-bottom:50px">
	{{#each banner}}

	<img src="/banners/{{_id}}-001.jpg" alt="">


	{{/each}}
</div>

<div class="container">
	{{!-- second sections --}}
	<div class="row">
		<div class="col-sm-5">
			<div class="banner-text">
				<div class="image">
					<a class="banner-opacity" href="#"><img src="/spbanner/{{spbanner._id}}-001.jpg" alt=""></a>
				</div>
				<div class="content-text">


					<h3 class="title">{{spbanner.Title}} <span>{{spbanner.disEnd}}% OFF</span></h3>

					<span class="sub-title">Checkout Our HotSale Products This Week !</span>
					<a href="#" class="button">SHOP PRODUCTS</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity "   href="#"><img   src="/images/mainbrands/men's.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">MENSWEAR</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity" href="#"><img src="/images/mainbrands/kid's.jpg" alt="" style=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">KID'S ZONE</h3>
				</div>
			</div>
			<div class="banner-text style2">
				<div class="image ">
					<a class="banner-opacity" href="#"><img src="/images/mainbrands/watch.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">WATCHES</h3>
				</div>
			</div>
		</div>
	</div>
	{{!-- free delivery notice --}}
	<div class="text-border margin-top-10">
		<p> FREE DELIVERY ₹500 ABOVE (SAFE AND SECURE TRANSPORT) RETURN WITHIN 7 DAYS</p>
	</div>


	{{!-- third section --}}
	<div class="owl-carousel nav-style4 nav-center-center margin-top-40 " data-nav="true" data-dots="false"
		data-loop="true" data-autoplay="false" data-margin="0"
		data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":4}}'>
		<div class="banner-text style4">
			<div class="image ">
				<a href="#"><img src="/images/mainbrands/adidas.jpg" class="brandImagview" alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Adidas</h4>
				<h3 class="title">Men fashion</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="/images/mainbrands/nikes.jpg" class="brandImagview" alt=""> </a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Nike</h4>
				<h3 class="title">Nike Trending</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="/images/mainbrands/Levis.jpg" class="brandImagview" alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Levi's </h4>
				<h3 class="title">Trend With Levi's</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="/images/mainbrands/allen.jpg"  class="brandImagview"alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Allen Solly</h4>
				<h3 class="title">Allen Solly Trend</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
	</div>

	{{!-- brand --}}
	<div class="section-brand-slide">
		<div class="brands-slide owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false"
			data-loop="true" data-margin="60" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
			<a href="#"><img src="images/brands/brand1.png" alt=""></a>
			<a href="#"><img src="images/brands/brand2.png" alt=""></a>
			<a href="#"><img src="images/brands/brand3.png" alt=""></a>
			<a href="#"><img src="images/brands/brand4.png" alt=""></a>
			<a href="#"><img src="images/brands/brand5.png" alt=""></a>
		</div>
	</div>

	{{!-- men's section --}}
	<div class="row margin-top-60">
		<div class="section-title style2 text-center">
			<span class="sub-title">Check out our Featured today!</span>
			<h3>Special for Men's</h3>
			<span class="driver"></span>
		</div>
		 
	
		<div class="col-sm-6 margin-top-30"  >
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity "    href="#"><img src="/images/mainbrands/menIndoor.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">Men's Indoor</h3>
				</div>
			</div>
		</div>

		 		<div class="col-sm-6 margin-top-30"  >
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity "    href="#"><img src="/images/mainbrands/men'soutdoor.jpg" class="brandImagview" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">Men's Outdoor</h3>
				</div>
			</div>
		</div>
	</div>
	{{!-- girls section --}}
	 <div class="row margin-top-60">
		<div class="section-title style2 text-center">
			<span class="sub-title">Check out our Featured today!</span>
			<h3>Special for Women's</h3>
			<span class="driver"></span>
		</div>
		 
	
		<div class="col-sm-6 margin-top-30"  >
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity "    href="#"><img src="/images/mainbrands/womenindoor.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">Women's Indoor</h3>
				</div>
			</div>
		</div>

		 		<div class="col-sm-6 margin-top-30"  >
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity "    href="#"><img src="/images/mainbrands/womenoutdoor.jpg" class="brandImagview" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">Women's Outdoor</h3>
				</div>
			</div>
		</div>
	</div>
	{{!-- watch section --}}
	<div class="margin-top-60 section-lasttest-blog">
		<div class="section-title text-center">
			<h3>Watches</h3>
		</div>
		<div class="lastest-blog owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false"
			data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":2}}'>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="/images/mainbrands/titanw.jpg" alt=""></a>

			</div>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="/images/mainbrands/radow.jpg" alt=""></a>

			</div>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="/images/mainbrands/omegaw.png" alt=""></a>

			</div>
		</div>
	</div>

	<div class="margin-top-60 margin-bottom-30">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-origami28"></i></div>
					<div class="content">
						<h4 class="title">FREE SHIPPING WORLD WIDE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
					<div class="content">
						<h4 class="title">MONEY BACK GUARANTEE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
					<div class="content">
						<h4 class="title">ONLINE SUPPORT 24/7</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- footer --}}
<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row  ustify-content-center">
				<div class="col-6 ">
					<div class="widget contact-info">
						<span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
						<h3 class="widget-title">Contact Us</h3>
						<div class="content">
							<p class="address">5701 Outlets at Bangalore, Madiwala 560064 INDIA	.</p>
							<p class="phone"><i class="fa fa-phone"></i> (+91) 90482 68028</p>
						</div>
					</div>
				</div>
				 
			</div>
		</div>
	</div>
	 
</footer>