
<!-- Main section-->
<div class="home-slide3 owl-carousel nav-style4 nav-center-center" data-items="1" data-nav="true" data-dots="false"
	data-loop="true" data-autoplay="true" style="padding-bottom:50px">
	<img src="images/slides/12.jpg" alt="">
	<img src="images/slides/13.jpg" alt="">
	<img src="images/slides/14.jpg" alt="">
</div>
<div class="container">
	{{!-- second sections --}}
	<div class="row">
		<div class="col-sm-5">
			<div class="banner-text">
				<div class="image">
					<a class="banner-opacity" href="#"><img src="images/b/11.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">WINTER SALE <span>75%OFF</span></h3>
					<span class="sub-title">Checkout Our HotSale Products This Week !</span>
					<a href="#" class="button">SHOP PRODUCTS</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity" href="#"><img src="images/b/12.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">MENSWEAR</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="banner-text style2">
				<div class="image">
					<a class="banner-opacity" href="#"><img src="images/b/13.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">HANDBAG</h3>
				</div>
			</div>
			<div class="banner-text style2">
				<div class="image ">
					<a class="banner-opacity" href="#"><img src="images/b/14.jpg" alt=""></a>
				</div>
				<div class="content-text">
					<h3 class="title">SNEAKERS</h3>
				</div>
			</div>
		</div>
	</div>
	{{!-- free delivery notice --}}
	<div class="text-border margin-top-10">
		<p>FREE UK DELIVERY + RETURN OVER £85.00 (EXCLUDING HOMEWARE)| FREE UK COLLECT FROM STORE</p>
	</div>


	{{!-- third section --}}
	<div class="owl-carousel nav-style4 nav-center-center margin-top-40 " data-nav="true" data-dots="false"
		data-loop="true" data-autoplay="false" data-margin="0"
		data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":4}}'>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="images/slides/11-1.png" alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Trending</h4>
				<h3 class="title">Men fashion</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="images/slides/11-2.png" alt=""> </a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Trending</h4>
				<h3 class="title">autumn fashion</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="images/slides/11-3.png" alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Trending</h4>
				<h3 class="title">autumn fashion</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
		<div class="banner-text style4">
			<div class="image">
				<a href="#"><img src="images/slides/11-4.png" alt=""></a>
			</div>
			<div class="content-text">
				<h4 class="subtitle">Trending</h4>
				<h3 class="title">Shoe fashion</h3>
				<a class="shop-now" href="#">shop now!</a>
			</div>
		</div>
	</div>

	{{!-- brand --}}
	<div class="section-brand-slide">
		<div class="brands-slide owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false"
			data-loop="true" data-margin="60" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
			<a href="#"><img src="images/brands/brand1.png" alt=""></a>
			<a href="#"><img src="images/brands/brand2.png" alt=""></a>
			<a href="#"><img src="images/brands/brand3.png" alt=""></a>
			<a href="#"><img src="images/brands/brand4.png" alt=""></a>
			<a href="#"><img src="images/brands/brand5.png" alt=""></a>
		</div>
	</div>

	{{!-- men's section --}}
	<div class="row margin-top-60">
		<div class="section-title style2 text-center">
			<span class="sub-title">Check out our Featured today!</span>
			<h3>Special for women's</h3>
			<span class="driver"></span>
		</div>
		<div class="col-sm-6 margin-top-30">
			<a class="banner-opacity" href="#"><img src="images/b/15.jpg" alt=""></a>
		</div>
		<div class="col-sm-6 margin-top-30">
			<a class="banner-opacity" href="#"><img src="images/b/16.jpg" alt=""></a>
		</div>
	</div>
	{{!-- girls section --}}
	<div class="row margin-top-60">
		<div class="section-title style2 text-center">
			<span class="sub-title">Check out our Featured today!</span>
			<h3>special for men's</h3>
			<span class="driver"></span>
		</div>
		<div class="col-sm-6 margin-top-30">
			<a class="banner-opacity" href="#"><img src="images/b/15.jpg" alt=""></a>
		</div>
		<div class="col-sm-6 margin-top-30">
			<a class="banner-opacity" href="#"><img src="images/b/16.jpg" alt=""></a>
		</div>
	</div>
	{{!-- watch section --}}
	<div class="margin-top-60 section-lasttest-blog">
		<div class="section-title text-center">
			<h3>Watches</h3>
		</div>
		<div class="lastest-blog owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false"
			data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":2}}'>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="images/blogs/1.jpg" alt=""></a>

			</div>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="images/blogs/2.jpg" alt=""></a>

			</div>
			<div class="item-blog">


				<a class="banner-border" href="#"><img src="images/blogs/1.jpg" alt=""></a>

			</div>
		</div>
	</div>

	<div class="margin-top-60 margin-bottom-30">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-origami28"></i></div>
					<div class="content">
						<h4 class="title">FREE SHIPPING WORLD WIDE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
					<div class="content">
						<h4 class="title">MONEY BACK GUARANTEE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
					<div class="content">
						<h4 class="title">ONLINE SUPPORT 24/7</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- footer --}}
<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row flex-flow">
				<div class="col-sm-12 col-md-4 footer-sidebar">
					<div class="widget contact-info">
						<span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
						<h3 class="widget-title">Contact Us</h3>
						<div class="content">
							<p class="address">5701 Outlets at Tejon Pkwy, Tejon ranch CA 93203 UK.</p>
							<p class="phone"><i class="fa fa-phone"></i> (+800) 6868 2268</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 footer-sidebar">
					<div class="widget our-service">
						<span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
						<h3 class="widget-title">OUR SERVICES</h3>
						<div class="content">
							<ul>
								<li><a href="#">About us</a></li>
								<li><a href="#">Order History</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Custom Service</a></li>
								<li><a href="#">Terms & Condition</a></li>
								<li><a href="#">Order History</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 footer-sidebar">
					<div class="widget widget_social">
						<span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
						<h3 class="widget-title">FOLLOW US</h3>
						<div class="content">
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="payment">
				<div class="head"><span>We Accept</span><span class="PlayfairDisplay">Online Payment Be Secured</span>
				</div>
				<div class="list">
					<a href="#" class="item"><img src="images/payments/1.png" alt=""></a>
					<a href="#" class="item"><img src="images/payments/2.png" alt=""></a>
					<a href="#" class="item"><img src="images/payments/3.png" alt=""></a>
					<a href="#" class="item"><img src="images/payments/4.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</footer>