<style>
    .oneside {
        display: flex;
        justify-content: center;
        height: 500px;
        align-items: center;
        border-radius: 30px;
    }

    .whitecolor {
        color: #ffff;
    }

    .seconeSide {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        margin-left: -90px;
        border-radius: 30px;
    }
</style>

<div class="container">
    <div class="row" style="margin: auto; display:flex; justify-content:center; align-items:center">
        <div class="col-md-6 oneside" style=" background:rgb(190, 140, 1);">
            <div >
                <p class="whitecolor">Reset Your password</p>
                <h1 class="whitecolor" style="font-weight:bold">Zeebracross</h1>
                <p class="whitecolor">India's Number one shopping webiste <br>
                    Make over with trending meterials</p>
                <p><span class="whitecolor"><i class="fas fa-exclamation-triangle"></i> Don't share this link to
                        Anyone</span></p>
            </div>
        </div>
        <div class="col-md-6 seconeSide" style=" background:rgb(56, 56, 56);">
            <form id="password-reset">
                <div class="mb-3">
                    <label   class="form-label whitecolor">Enter New Password</label>
                    <input type="test" class="form-control" name="new_password" id="newPass">
                </div>
                <div class="" style="margin-top: 20px;">
                    <label   class="form-label whitecolor">Confirm password</label>
                    <input type="test" class="form-control"  name="confirm_password" id="cPass">
                </div>
                
                    <p id="errpass" style="color:rgb(255, 255, 255);"></p>
 
                <input type="submit" value="Submit" class="btn btn-dark" style="margin-top: 10px;">
            </form>
        </div>
    </div>
</div>